<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ current.title }}</title>
    {% include meta-description.html %}
    {% include meta-open-graph.html %}
    {% include meta-twitter.html %}
    <link rel="author" href="humans.txt" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script>window.html5 || document.write('<script src="/scripts/js/min/html5shiv-3.7.3.js"><\/script>')</script>
    <![endif]-->
    <script>
    (function(d) {
        var config = {
            kitId: 'kzv6isg',
            scriptTimeout: 3000,
            async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
    </script>
    {% if page.url == '/' %}
        {% include swiffy.html %}
    {% endif %}
</head>
<body {% if page.url == '/' %}data-spy="scroll" data-target="#nav-scrollspy" class="home"{% endif %}>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
