// Variables

$about-heading-background-color: #fabaa6;
$about-paragraph-background-color: #bb4d52;
$services-heading-background-color: #b3e0de;
$services-paragraph-background-color: #d7736d;
$work-heading-background-color: #c9e5ca;
$work-paragraph-background-color: #556278;
$contact-heading-background-color: #3e3551;
$contact-paragraph-background-color: #f9c0c5;
$contact-link-color: #ac4365;
$brand-gray-color: #808284;
$brand-red-color: #f04e53;
$work-green-color: #c9e5ca;
$work-blue-color: #556278;
$white: #fff;
$animation-background-color: #dceedf;

$mobile-small: em(240);
$mobile-large: em(320);
$tablet-small: em(480);
$tablet-large: em(800);
$screen-small: em(1024);
$screen-large: em(1280);
$screen-x-large: em(1440);
$screen-xx-large: em(2400);

$padding-header: 5vh;
$letter-spacing: modular-scale(-6);
